.header {
	padding: 0 0 80px;

	&-enter {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		max-width: 1365px;
		margin: 0 auto;
		padding: 16px 0 15px;

		&__link {
			font-size: 14px;
			font-weight: 400;
			color: #202020;
			margin-right: 9px;
			cursor: pointer;
		}
	}

	&-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1365px;
		margin: 0 auto;
	}

	&-log {
		max-width: 100%;
		margin-right: 15px;
	}

	&-logo {
		display: flex;
		align-items: center;
		cursor: pointer;

		&__title {
			font-size: 24px;
			font-weight: 500;
			color: #202020;
			letter-spacing: 2px;
		}

		&__subtitle {
			font-size: 12px;
			font-weight: 400;
			color: #202020;
			margin-left: 2px;
		}
	}

	&-nav {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&__favourite {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 61px;
			height: 84px;
			background-color: #f1f1f1;
			clip-path: polygon(100% 0, 100% 100%, 50% 85%, 0 100%, 0 0);
			padding: 15px 20px 25px;
			margin-right: 10px;
			cursor: pointer;

			.favourite__counter {
				font-size: 16px;
				font-weight: 400;
				color: #f47920;
				margin-top: 12px;
			}
		}

		&__basket {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 61px;
			height: 84px;
			background-color: #f47920;
			clip-path: polygon(100% 0, 100% 100%, 50% 85%, 0 100%, 0 0);
			padding: 15px 20px 25px;
			margin-right: 10px;
			cursor: pointer;

			.basket__counter {
				font-size: 16px;
				font-weight: 400;
				color: #fff;
				margin-top: 12px;
			}
		}
	}

	&-menu {
		display: flex;
		justify-content: space-between;
		margin-right: 49px;
	}

	&-list {
		display: flex;
		list-style: none;

		&__link {
			font-size: 16px;
			font-weight: 500;
			letter-spacing: 1px;
			color: #202020;
			margin-right: 35px;
		}

		&__link_dropdown {
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 16px;
			font-weight: 500;
			letter-spacing: 1px;
			color: #f47920;
			margin-right: 35px;
		}
	}
}
